@import 'mixins';

:root {
  --primary: #e85a34;
  --secondary: #ed804d;
  --accent: #fff9b6;
  --darkBlue: #87b7e4;
  --lightBlue: #d7e8f0;
  --accentBlue: #ccdde2;
  --background: #edf4ff;
  --black: #202020;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--black);
  padding: 1.6rem;

  @include tablet() {
    font-size: 6.4rem;
    line-height: 8rem;
    padding: 0;
  }
  @include desktop() {
    font-size: 8rem;
    line-height: 9.6rem;
  }
}

.Typewriter__wrapper {
  font-size: 3.2rem;
  line-height: 5.6rem;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: var(--darkBlue);

  @include tablet() {
    font-size: 5.6rem;
    line-height: 8rem;
    padding: 0;
  }
  @include desktop() {
    font-size: 8rem;
    line-height: 11.2rem;
  }
}

.Typewriter__cursor {
  font-size: 3.2rem;
  line-height: 4rem;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: var(--black);

  @include tablet() {
    font-size: 5.6rem;
    line-height: 8rem;
    padding: 0;
  }
  @include desktop() {
    font-size: 8.8rem;
    line-height: 11.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: normal;

  @include tablet() {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

p {
  line-height: 2.4rem;
}

h1,
h2,
h3,
p {
  margin-bottom: 1.6rem;
}

button.primary {
  background: var(--secondary);
  border: 1px var(--black) solid;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: bold;
  width: max-content;
  transition: background 0.8s ease-out;

  &:hover {
    cursor: pointer;
    background: darken(#ed804d, 8%);
  }
}

button.secondary {
  background: none;
  border: 1px var(--secondary) solid;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  color: var(--secondary);
  font-weight: bold;
  width: max-content;
  transition: background 0.2s ease-out;

  &:hover {
    cursor: pointer;
    background: darken(#ed804d, 8%);
    color: white;
  }
}
