@import '../../styles/mixins';

.container {
  background: var(--secondary);
  padding: 20% 0; /* The padding is the area for the shapes, adjust it based on the ratio of the shape*/
  background: url('/wave-top.svg') top / 105% auto,
    url('/wave-under.svg') bottom/105% auto,
    linear-gradient(var(--secondary), var(--secondary)) content-box; /* Color between the shapes only on the content and not the padding*/
  background-repeat: no-repeat;
}

.wrapper {
  margin: 0 auto;
  width: 90vw;

  @include desktop() {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 40vw;
  }
}

.imageWrapper {
  display: none;

  @include desktop() {
    display: block;
    position: relative;
    height: 279px;
    width: 496px;
  }
}

.image {
  display: none;

  @include desktop() {
    position: absolute;
    display: flex;
    width: 496px;
    height: 279px;
    background: grey;
    z-index: 1;
  }
}
.client1 {
  display: none;

  @include desktop() {
    position: absolute;
    display: flex;
    width: 496px;
    height: 279px;
    background: var(--black);
    z-index: 5;
  }
}
.client2 {
  display: none;

  @include desktop() {
    position: absolute;
    display: block;
    width: 496px;
    height: 279px;
    background: var(--primary);
    z-index: 2;
  }
}
.client3 {
  position: absolute;
  display: none;

  @include desktop() {
    display: block;
    width: 496px;
    height: 279px;
    background: blue;
    z-index: 2;
  }
}

.textWrapper {
  margin: 0 auto;
  padding-top: 3.2rem;

  @include desktop() {
    margin: 0 0;
  }
}

.heading {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  text-align: center;

  @include desktop() {
    text-align: left;
    padding-left: 2.4rem;
  }
}

.orderList {
  padding: 1.6rem 3.2rem 3.2rem 5.6rem;

  @include tablet() {
    margin: 0 auto;
    width: 50%;
  }
  @include desktop() {
    width: 100%;
  }
}

.list {
  color: white;
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: normal;
  color: var(--accent);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  @include tabletLarge() {
    margin-left: 3.2rem;
  }
  @include desktop() {
    font-size: 7.2rem;
    line-height: 8.8rem;
  }
}
