@import '../../styles/mixins';

.container {
  background: var(--secondary);
  padding: 20% 0; /* The padding is the area for the shapes, adjust it based on the ratio of the shape*/
  background: url('/wave-top.svg') top / 105% auto,
    url('/wave-under.svg') bottom/105% auto,
    linear-gradient(var(--secondary), var(--secondary)) content-box; /* Color between the shapes only on the content and not the padding*/
  background-repeat: no-repeat;
}

.wrapper {
  margin: 0 auto;
  padding-top: 3.2rem;
}

.heading {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  text-align: center;
}

.orderList {
  padding: 1.6rem 3.2rem 3.2rem 5.6rem;

  @include tablet() {
    margin: 0 auto;
    width: 50%;
  }
}

.list {
  color: white;
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: normal;
  color: var(--accent);

  @include tabletLarge() {
    margin-left: 3.2rem;
  }
}
