@import '../../styles/mixins';

.container {
  margin: 4.8rem auto;
  display: flex;
  flex-direction: column;

  @include tablet() {
    flex-direction: row;
    width: 70vw;
    gap: 2.4rem;
  }

  @include tabletLarge() {
    width: 60vw;
  }
}

.imageWrapper {
  position: relative;
  height: 343px;
  width: 343px;
  margin: 0 auto;
}

.text {
  margin-top: 1.6rem;
  padding: 0 1.6rem;

  @include tablet() {
    width: 70vw;
    margin: auto;
  }
}
