.container {
  margin: 4.8rem auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageWrapper {
  position: relative;
  height: 343px;
  width: 343px;
  margin: 0 auto;
}
.heading {
  margin-top: 1.6rem;
}
.text {
  text-align: center;
}
.packageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
