@import '../../styles/mixins';

.container {
  margin: 4.8rem auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include tablet() {
    width: 70vw;
    position: relative;
    margin-bottom: 12.8rem;
  }
  @include desktop() {
    margin-bottom: 28rem;
  }
}
.imageWrapper {
  height: 343px;
  width: 343px;
  position: relative;
  margin: 0 auto;

  @include desktop() {
    height: 561px;
    width: 561px;
  }
}
.statsWrapper1 {
  @include tablet() {
    width: 50%;
    position: absolute;
    top: -20px;
    left: -50px;
  }
  @include desktop() {
    top: -20px;
    left: 70px;
  }
}
.statsWrapper2 {
  @include tablet() {
    width: 50%;
    position: absolute;
    top: 30px;
    right: -90px;
  }
  @include desktop() {
    width: 30%;
    top: 30px;
    right: 0;
  }
}
.statsWrapper3 {
  @include tablet() {
    width: 50%;
    position: absolute;
    bottom: -50px;
  }
  @include desktop() {
    left: 150px;
    bottom: -80px;
  }
}
.stat {
  font-size: 5.6rem;
  line-height: 7.2rem;
  color: var(--secondary);

  @include desktop() {
    font-size: 8.8rem;
    line-height: 9.6rem;
  }
}

.text {
  line-height: 2.4rem;
}
