.container {
  margin: 4.8rem auto;
  padding: 1.6rem;
}
.imageWrapper {
  height: 343px;
  width: 343px;
  position: relative;
  margin-bottom: 1.6rem;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.statWrapper {
}
.stat {
  font-size: 5.6rem;
  line-height: 7.2rem;
  color: var(--secondary);
}

.text {
  line-height: 2.4rem;
}
